name: macOS

on:
  push:
    branches: ["**"]

jobs:
  macOS:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4
    - name: Select Xcode
      run: sudo xcode-select -s /Applications/Xcode.app/Contents/Developer
    - name: Build for iOS
      run: xcodebuild build -scheme ASAViewer -destination 'platform=iOS Simulator,name=iPhone 16'
    - name: Run tests
      run: xcodebuild test -scheme ASAViewer -destination 'platform=iOS Simulator,name=iPhone 16'
